.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgb(22, 21, 21);
}

.navigation {
    margin-left: auto;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px 30px;
  font-weight: 500;
  color: rgb(22, 21, 21);;
  font-size: 18px;
}

.activeLink {
  composes: link;
  color: #ff6b08;
}

.logo {
    composes: link;
    font-size: 22px;
}
